In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\student\anaconda3\envs\web_0802\lib\site-packages (1.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\student\anaconda3\envs\web_0802\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\student\anaconda3\envs\web_0802\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\student\anaconda3\envs\web_0802\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: six>=1.5 in c:\users\student\anaconda3\envs\web_0802\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
#沒有category_repeat_buy_probability.csv
df_catrebuy=pd.read_csv('../train/category_repeat_buy_probability.csv')
df_productid = pd.read_csv('../train/productid.csv')
df_offers = pd.read_csv('../data/offers.csv')
df_userfeatures= pd.read_csv('../train/user_features.csv')
df_prodfeature=pd.read_csv('../train/product_features.csv')
df_seasonal=pd.read_csv('../train/seasonal_features.csv')
df_cheapness=pd.read_csv('../train/product_cheapness_features.csv')
df_rebuy_probability=pd.read_csv('../train/product_repeat_buy_probability.csv')
df_competition=pd.read_csv('../train/competition_features.csv')
df_new_prodfeature = pd.read_csv('../train/new_product_features.csv')
df_first_trans = pd.read_csv('../train/first_transaction_features.csv')
df_negative = pd.read_csv('../train/negative_features.csv')
df_base=pd.read_csv('../train/base_features.csv')

In [3]:
df_catrebuy

,category_id,cat_repeat_buy_prob_30d,cat_repeat_buy_prob_60d,cat_repeat_buy_prob_90d
0,6202,0.136051,0.203819,0.254442
1,2202,0.036928,0.087465,0.137686
2,7205,0.077903,0.153583,0.227720
3,9115,0.129028,0.178103,0.208304
4,799,0.090116,0.149048,0.182243
5,706,0.182364,0.228578,0.263184
6,5558,0.165234,0.212959,0.240994
7,1703,0.047283,0.083252,0.118296
8,5824,0.115449,0.186370,0.243238
9,5619,0.086334,0.161057,0.222139
10,5616,0.157096,0.232506,0.286776
11,4401,0.105084,0.143758,0.175052
12,1726,0.053828,0.105209,0.151224
13,3504,0.065961,0.139025,0.208097
14,3203,0.051478,0.093700,0.140498
15,9909,0.227591,0.324038,0.391545
16,5122,0.167208,0.232019,0.277588
17,3509,0.106505,0.195041,0.269195
18,2119,0.207950,0.283192,0.323034
19,4517,0.126683,0.192758,0.226985

In [4]:
df_base

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,has_bought_brand_q_60,has_bought_brand_a_60,has_bought_brand_90,has_bought_brand_q_90,has_bought_brand_a_90,has_bought_brand_180,has_bought_brand_q_180,has_bought_brand_a_180,market,chain
0,1,5,86246,1208251,0,1,0,0,0,1,...,5.0,14.95,6.0,6.0,20.64,7.0,7.0,23.13,34,205
1,1,16,86252,1197502,0,0,0,1,1,1,...,1.0,1.99,1.0,1.0,1.99,1.0,1.0,1.99,34,205
2,0,0,12682470,1197502,1,0,1,0,0,0,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,11,18
3,0,0,12996040,1197502,1,1,1,0,0,0,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,9,15
4,0,0,13089312,1204821,0,1,0,0,0,1,...,5.0,19.95,3.0,5.0,19.95,3.0,5.0,19.95,9,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4712158291,1208329,1,1,1,0,0,0,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,8,214
160053,0,0,4715039820,1208329,0,0,0,1,1,1,...,3.0,3.75,1.0,3.0,3.75,1.0,3.0,3.75,14,166
160054,1,6,4797277036,1203052,1,0,1,0,0,0,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,10,152
160055,0,0,4804019740,1204822,1,1,1,0,0,0,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,12,153
160056,0,0,4809911000,1204822,1,1,1,0,0,0,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,12,153

In [5]:
data = pd.merge(df_base, df_userfeatures, on='id')
data

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,chain,total_spend_30,dep_spend_30,dep_count_30,visits_30,prodid_spend_30,prodid_count_30,prodid_spend_all,prodid_count_all,prodid_spend_corr
0,1,5,86246,1208251,0,1,0,0,0,1,...,205,16422.18,54.24,20.0,29,0.00,0.0,0.00,0.0,-4.769485
1,1,16,86252,1197502,0,0,0,1,1,1,...,205,29579.54,157.99,45.0,28,1.99,1.0,4.98,2.0,4.980000
2,0,0,12682470,1197502,1,0,1,0,0,0,...,18,125.66,0.00,0.0,7,0.00,0.0,0.00,0.0,-43.856249
3,0,0,12996040,1197502,1,1,1,0,0,0,...,15,109.62,0.00,0.0,3,0.00,0.0,0.00,0.0,-43.856249
4,0,0,13089312,1204821,0,1,0,0,0,1,...,15,336.75,15.75,6.0,15,0.00,0.0,0.00,0.0,-0.083680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4712158291,1208329,1,1,1,0,0,0,...,214,45.64,0.00,0.0,1,0.00,0.0,0.00,0.0,-2.742394
160053,0,0,4715039820,1208329,0,0,0,1,1,1,...,166,1885.39,50.22,29.0,3,0.00,0.0,0.00,0.0,-2.742394
160054,1,6,4797277036,1203052,1,0,1,0,0,0,...,152,242.60,18.93,7.0,7,0.00,0.0,0.00,0.0,-0.619682
160055,0,0,4804019740,1204822,1,1,1,0,0,0,...,153,648.16,22.35,5.0,9,0.00,0.0,0.00,0.0,-0.083680
160056,0,0,4809911000,1204822,1,1,1,0,0,0,...,153,244.15,3.19,1.0,11,0.00,0.0,0.00,0.0,-0.083680

In [6]:
data1 = pd.merge(data, df_seasonal, on='id')
data1

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,dep_spend_30,dep_count_30,visits_30,prodid_spend_30,prodid_count_30,prodid_spend_all,prodid_count_all,prodid_spend_corr,seasonal_spend_rate_30d,seasonal_spend_rate_30d_no_trend
0,1,5,86246,1208251,0,1,0,0,0,1,...,54.24,20.0,29,0.00,0.0,0.00,0.0,-4.769485,0.693460,0.987695
1,1,16,86252,1197502,0,0,0,1,1,1,...,157.99,45.0,28,1.99,1.0,4.98,2.0,4.980000,1.584295,1.128418
2,0,0,12682470,1197502,1,0,1,0,0,0,...,0.00,0.0,7,0.00,0.0,0.00,0.0,-43.856249,1.593937,1.132530
3,0,0,12996040,1197502,1,1,1,0,0,0,...,0.00,0.0,3,0.00,0.0,0.00,0.0,-43.856249,1.616193,1.156766
4,0,0,13089312,1204821,0,1,0,0,0,1,...,15.75,6.0,15,0.00,0.0,0.00,0.0,-0.083680,1.060261,0.864269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4712158291,1208329,1,1,1,0,0,0,...,0.00,0.0,1,0.00,0.0,0.00,0.0,-2.742394,1.221684,1.092976
160053,0,0,4715039820,1208329,0,0,0,1,1,1,...,50.22,29.0,3,0.00,0.0,0.00,0.0,-2.742394,1.215716,1.082681
160054,1,6,4797277036,1203052,1,0,1,0,0,0,...,18.93,7.0,7,0.00,0.0,0.00,0.0,-0.619682,1.279685,1.082408
160055,0,0,4804019740,1204822,1,1,1,0,0,0,...,22.35,5.0,9,0.00,0.0,0.00,0.0,-0.083680,1.006405,0.789985
160056,0,0,4809911000,1204822,1,1,1,0,0,0,...,3.19,1.0,11,0.00,0.0,0.00,0.0,-0.083680,1.055080,0.851855

In [7]:
data2 = pd.merge(data1, df_new_prodfeature, on='id')
data2

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,prodid_spend_all,prodid_count_all,prodid_spend_corr,seasonal_spend_rate_30d,seasonal_spend_rate_30d_no_trend,bought_product_before,established_product,probability_of_60d_buy_in_category,num_distinct_products_in_cat_bought,only_bought_our_product
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.00,0.0,-4.769485,0.693460,0.987695,0,0,0.000000,0,0
1,1,16,86252,1197502,0,0,0,1,1,1,...,4.98,2.0,4.980000,1.584295,1.128418,1,1,0.630082,3,0
2,0,0,12682470,1197502,1,0,1,0,0,0,...,0.00,0.0,-43.856249,1.593937,1.132530,0,1,0.401196,1,0
3,0,0,12996040,1197502,1,1,1,0,0,0,...,0.00,0.0,-43.856249,1.616193,1.156766,0,1,0.000000,0,0
4,0,0,13089312,1204821,0,1,0,0,0,1,...,0.00,0.0,-0.083680,1.060261,0.864269,0,0,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4712158291,1208329,1,1,1,0,0,0,...,0.00,0.0,-2.742394,1.221684,1.092976,0,0,0.000000,0,0
160053,0,0,4715039820,1208329,0,0,0,1,1,1,...,0.00,0.0,-2.742394,1.215716,1.082681,0,0,1.000000,4,0
160054,1,6,4797277036,1203052,1,0,1,0,0,0,...,0.00,0.0,-0.619682,1.279685,1.082408,0,0,0.940385,5,0
160055,0,0,4804019740,1204822,1,1,1,0,0,0,...,0.00,0.0,-0.083680,1.006405,0.789985,0,0,0.000000,0,0
160056,0,0,4809911000,1204822,1,1,1,0,0,0,...,0.00,0.0,-0.083680,1.055080,0.851855,0,0,0.000000,0,0

In [8]:
data3 = pd.merge(data2, df_first_trans, on='id')
data3

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,prodid_count_all,prodid_spend_corr,seasonal_spend_rate_30d,seasonal_spend_rate_30d_no_trend,bought_product_before,established_product,probability_of_60d_buy_in_category,num_distinct_products_in_cat_bought,only_bought_our_product,days_since_first_transaction
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.0,-4.769485,0.693460,0.987695,0,0,0.000000,0,0,418
1,1,16,86252,1197502,0,0,0,1,1,1,...,2.0,4.980000,1.584295,1.128418,1,1,0.630082,3,0,390
2,0,0,12682470,1197502,1,0,1,0,0,0,...,0.0,-43.856249,1.593937,1.132530,0,1,0.401196,1,0,391
3,0,0,12996040,1197502,1,1,1,0,0,0,...,0.0,-43.856249,1.616193,1.156766,0,1,0.000000,0,0,387
4,0,0,13089312,1204821,0,1,0,0,0,1,...,0.0,-0.083680,1.060261,0.864269,0,0,0.000000,0,0,392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4712158291,1208329,1,1,1,0,0,0,...,0.0,-2.742394,1.221684,1.092976,0,0,0.000000,0,0,3
160053,0,0,4715039820,1208329,0,0,0,1,1,1,...,0.0,-2.742394,1.215716,1.082681,0,0,1.000000,4,0,3
160054,1,6,4797277036,1203052,1,0,1,0,0,0,...,0.0,-0.619682,1.279685,1.082408,0,0,0.940385,5,0,393
160055,0,0,4804019740,1204822,1,1,1,0,0,0,...,0.0,-0.083680,1.006405,0.789985,0,0,0.000000,0,0,28
160056,0,0,4809911000,1204822,1,1,1,0,0,0,...,0.0,-0.083680,1.055080,0.851855,0,0,0.000000,0,0,32

In [9]:
data4 = pd.merge(data3, df_negative, on='id')
data4

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,seasonal_spend_rate_30d,seasonal_spend_rate_30d_no_trend,bought_product_before,established_product,probability_of_60d_buy_in_category,num_distinct_products_in_cat_bought,only_bought_our_product,days_since_first_transaction,returned_product,days_from_lastdata_until_offerdate
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.693460,0.987695,0,0,0.000000,0,0,418,0,1
1,1,16,86252,1197502,0,0,0,1,1,1,...,1.584295,1.128418,1,1,0.630082,3,0,390,0,1
2,0,0,12682470,1197502,1,0,1,0,0,0,...,1.593937,1.132530,0,1,0.401196,1,0,391,0,7
3,0,0,12996040,1197502,1,1,1,0,0,0,...,1.616193,1.156766,0,1,0.000000,0,0,387,0,5
4,0,0,13089312,1204821,0,1,0,0,0,1,...,1.060261,0.864269,0,0,0.000000,0,0,392,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4712158291,1208329,1,1,1,0,0,0,...,1.221684,1.092976,0,0,0.000000,0,0,3,0,3
160053,0,0,4715039820,1208329,0,0,0,1,1,1,...,1.215716,1.082681,0,0,1.000000,4,0,3,0,1
160054,1,6,4797277036,1203052,1,0,1,0,0,0,...,1.279685,1.082408,0,0,0.940385,5,0,393,0,12
160055,0,0,4804019740,1204822,1,1,1,0,0,0,...,1.006405,0.789985,0,0,0.000000,0,0,28,0,3
160056,0,0,4809911000,1204822,1,1,1,0,0,0,...,1.055080,0.851855,0,0,0.000000,0,0,32,0,9

In [10]:
data5 = pd.merge(data4, df_productid, left_on='offer_id',right_on='offer')
data5

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,days_since_first_transaction,returned_product,days_from_lastdata_until_offerdate,offer,category,quantity,company,offervalue,brand,productid
0,1,5,86246,1208251,0,1,0,0,0,1,...,418,0,1,1208251,2202,1,104460040,2.00,3718,2202 104460040 3718
1,0,0,15753725,1208251,0,1,1,0,0,0,...,412,0,4,1208251,2202,1,104460040,2.00,3718,2202 104460040 3718
2,1,7,16535563,1208251,0,1,0,0,0,1,...,409,0,16,1208251,2202,1,104460040,2.00,3718,2202 104460040 3718
3,0,0,18259179,1208251,0,1,0,0,0,1,...,417,0,10,1208251,2202,1,104460040,2.00,3718,2202 104460040 3718
4,1,1,21024070,1208251,0,1,0,0,0,1,...,417,0,1,1208251,2202,1,104460040,2.00,3718,2202 104460040 3718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,151,0,6,1200584,3504,1,104460040,1.25,7668,3504 104460040 7668
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,146,0,13,1200584,3504,1,104460040,1.25,7668,3504 104460040 7668
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,115,0,4,1200584,3504,1,104460040,1.25,7668,3504 104460040 7668
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,112,0,27,1200584,3504,1,104460040,1.25,7668,3504 104460040 7668
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,107,0,11,1200584,3504,1,104460040,1.25,7668,3504 104460040 7668

In [11]:
data6 = pd.merge(data5,df_prodfeature, on='productid')
data6

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,marketshare_in_cat,share_of_cust_bought_prod,share_prod_spend,share_of_cust_bought_cat,share_cat_spend,avg_price_per_cheapest_common_unit,avg_price_per_most_common_unit,marketshare_in_dep,share_of_cust_bought_dep,share_dep_spend
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.047695,0.001557,2.836845e-11,0.020469,1.108630e-09,6.148040,6.148040,0.000439,0.757396,1.486233e-07
1,0,0,15753725,1208251,0,1,1,0,0,0,...,0.047695,0.001557,2.836845e-11,0.020469,1.108630e-09,6.148040,6.148040,0.000439,0.757396,1.486233e-07
2,1,7,16535563,1208251,0,1,0,0,0,1,...,0.047695,0.001557,2.836845e-11,0.020469,1.108630e-09,6.148040,6.148040,0.000439,0.757396,1.486233e-07
3,0,0,18259179,1208251,0,1,0,0,0,1,...,0.047695,0.001557,2.836845e-11,0.020469,1.108630e-09,6.148040,6.148040,0.000439,0.757396,1.486233e-07
4,1,1,21024070,1208251,0,1,0,0,0,1,...,0.047695,0.001557,2.836845e-11,0.020469,1.108630e-09,6.148040,6.148040,0.000439,0.757396,1.486233e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,0.004623,0.006278,6.441808e-11,0.681630,6.433234e-08,2.650996,2.650996,0.001309,0.884721,4.367073e-07
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,0.004623,0.006278,6.441808e-11,0.681630,6.433234e-08,2.650996,2.650996,0.001309,0.884721,4.367073e-07
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,0.004623,0.006278,6.441808e-11,0.681630,6.433234e-08,2.650996,2.650996,0.001309,0.884721,4.367073e-07
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,0.004623,0.006278,6.441808e-11,0.681630,6.433234e-08,2.650996,2.650996,0.001309,0.884721,4.367073e-07
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,0.004623,0.006278,6.441808e-11,0.681630,6.433234e-08,2.650996,2.650996,0.001309,0.884721,4.367073e-07

In [12]:
data7 = pd.merge(data6,df_cheapness, left_on='productid',right_on='product_id')
data7

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,avg_price_per_cheapest_common_unit,avg_price_per_most_common_unit,marketshare_in_dep,share_of_cust_bought_dep,share_dep_spend,product_id,price_quantile,price_median_compare,price_mean_compare,price_median_difference
0,1,5,86246,1208251,0,1,0,0,0,1,...,6.148040,6.148040,0.000439,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297
1,0,0,15753725,1208251,0,1,1,0,0,0,...,6.148040,6.148040,0.000439,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297
2,1,7,16535563,1208251,0,1,0,0,0,1,...,6.148040,6.148040,0.000439,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297
3,0,0,18259179,1208251,0,1,0,0,0,1,...,6.148040,6.148040,0.000439,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297
4,1,1,21024070,1208251,0,1,0,0,0,1,...,6.148040,6.148040,0.000439,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,2.650996,2.650996,0.001309,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,2.650996,2.650996,0.001309,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,2.650996,2.650996,0.001309,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,2.650996,2.650996,0.001309,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,2.650996,2.650996,0.001309,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000

In [13]:
data8 = pd.merge(data7,df_rebuy_probability, on='product_id')
data8

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,share_of_cust_bought_dep,share_dep_spend,product_id,price_quantile,price_median_compare,price_mean_compare,price_median_difference,repeat_buy_prob_30d,repeat_buy_prob_60d,repeat_buy_prob_90d
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686
1,0,0,15753725,1208251,0,1,1,0,0,0,...,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686
2,1,7,16535563,1208251,0,1,0,0,0,1,...,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686
3,0,0,18259179,1208251,0,1,0,0,0,1,...,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686
4,1,1,21024070,1208251,0,1,0,0,0,1,...,0.757396,1.486233e-07,2202 104460040 3718,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,0.884721,4.367073e-07,3504 104460040 7668,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556

In [14]:
data9 = pd.merge(data8,df_competition, left_on='category',right_on='categoryid')
data9

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,price_quantile,price_median_compare,price_mean_compare,price_median_difference,repeat_buy_prob_30d,repeat_buy_prob_60d,repeat_buy_prob_90d,categoryid,competing_products_in_cat,marketshare_dominant_prod_in_cat
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686,2202,44,0.227144
1,0,0,15753725,1208251,0,1,1,0,0,0,...,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686,2202,44,0.227144
2,1,7,16535563,1208251,0,1,0,0,0,1,...,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686,2202,44,0.227144
3,0,0,18259179,1208251,0,1,0,0,0,1,...,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686,2202,44,0.227144
4,1,1,21024070,1208251,0,1,0,0,0,1,...,0.979428,4.673532,4.363564,9.660297,0.036928,0.087465,0.137686,2202,44,0.227144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556,3504,124,0.410683
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556,3504,124,0.410683
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556,3504,124,0.410683
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556,3504,124,0.410683
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,0.364145,0.770960,1.016351,-0.713000,0.052174,0.097760,0.155556,3504,124,0.410683

In [15]:
data10 = pd.merge(data9,df_catrebuy, left_on='category',right_on='category_id')
data10

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,repeat_buy_prob_30d,repeat_buy_prob_60d,repeat_buy_prob_90d,categoryid,competing_products_in_cat,marketshare_dominant_prod_in_cat,category_id,cat_repeat_buy_prob_30d,cat_repeat_buy_prob_60d,cat_repeat_buy_prob_90d
0,1,5,86246,1208251,0,1,0,0,0,1,...,0.036928,0.087465,0.137686,2202,44,0.227144,2202,0.036928,0.087465,0.137686
1,0,0,15753725,1208251,0,1,1,0,0,0,...,0.036928,0.087465,0.137686,2202,44,0.227144,2202,0.036928,0.087465,0.137686
2,1,7,16535563,1208251,0,1,0,0,0,1,...,0.036928,0.087465,0.137686,2202,44,0.227144,2202,0.036928,0.087465,0.137686
3,0,0,18259179,1208251,0,1,0,0,0,1,...,0.036928,0.087465,0.137686,2202,44,0.227144,2202,0.036928,0.087465,0.137686
4,1,1,21024070,1208251,0,1,0,0,0,1,...,0.036928,0.087465,0.137686,2202,44,0.227144,2202,0.036928,0.087465,0.137686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,0.052174,0.097760,0.155556,3504,124,0.410683,3504,0.065961,0.139025,0.208097
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,0.052174,0.097760,0.155556,3504,124,0.410683,3504,0.065961,0.139025,0.208097
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,0.052174,0.097760,0.155556,3504,124,0.410683,3504,0.065961,0.139025,0.208097
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,0.052174,0.097760,0.155556,3504,124,0.410683,3504,0.065961,0.139025,0.208097
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,0.052174,0.097760,0.155556,3504,124,0.410683,3504,0.065961,0.139025,0.208097

In [16]:
#data11=data10.drop('product_id','category_id','categoryid',axis=1)
data11=data10.drop('product_id',axis=1)
data11=data11.drop('category_id',axis=1)
data11=data11.drop('categoryid',axis=1)
data11=data11.drop('offer',axis=1)
data11=data11.drop('offervalue',axis=1)
data11=data11.drop('quantity',axis=1)
data11=data11.drop('category',axis=1)
data11=data11.drop('company',axis=1)
data11=data11.drop('brand',axis=1)
data11

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,price_mean_compare,price_median_difference,repeat_buy_prob_30d,repeat_buy_prob_60d,repeat_buy_prob_90d,competing_products_in_cat,marketshare_dominant_prod_in_cat,cat_repeat_buy_prob_30d,cat_repeat_buy_prob_60d,cat_repeat_buy_prob_90d
0,1,5,86246,1208251,0,1,0,0,0,1,...,4.363564,9.660297,0.036928,0.087465,0.137686,44,0.227144,0.036928,0.087465,0.137686
1,0,0,15753725,1208251,0,1,1,0,0,0,...,4.363564,9.660297,0.036928,0.087465,0.137686,44,0.227144,0.036928,0.087465,0.137686
2,1,7,16535563,1208251,0,1,0,0,0,1,...,4.363564,9.660297,0.036928,0.087465,0.137686,44,0.227144,0.036928,0.087465,0.137686
3,0,0,18259179,1208251,0,1,0,0,0,1,...,4.363564,9.660297,0.036928,0.087465,0.137686,44,0.227144,0.036928,0.087465,0.137686
4,1,1,21024070,1208251,0,1,0,0,0,1,...,4.363564,9.660297,0.036928,0.087465,0.137686,44,0.227144,0.036928,0.087465,0.137686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160052,0,0,4346329789,1200584,0,0,1,0,0,0,...,1.016351,-0.713000,0.052174,0.097760,0.155556,124,0.410683,0.065961,0.139025,0.208097
160053,0,0,4362117320,1200584,0,0,1,0,0,0,...,1.016351,-0.713000,0.052174,0.097760,0.155556,124,0.410683,0.065961,0.139025,0.208097
160054,0,0,4425275015,1200584,0,0,0,1,1,1,...,1.016351,-0.713000,0.052174,0.097760,0.155556,124,0.410683,0.065961,0.139025,0.208097
160055,0,0,4438146544,1200584,1,0,1,0,0,0,...,1.016351,-0.713000,0.052174,0.097760,0.155556,124,0.410683,0.065961,0.139025,0.208097
160056,0,0,4457030312,1200584,0,0,1,0,0,0,...,1.016351,-0.713000,0.052174,0.097760,0.155556,124,0.410683,0.065961,0.139025,0.208097

In [17]:
data11.to_csv('../train/all_features.csv', encoding='big5', index=False)